body {
    font-family: sans-serif;
   background-color: lightgrey;
    margin-top: 75px;
    background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwioi5nts43SAhUOR48KHZu8CEAQjBwIBA&url=http%3A%2F%2Fwebdesignerdepot.s3.amazonaws.com%2Fdefault-images%2F25.jpg&psig=AFQjCNGQghNfkPCpmJvLvcY0vWNuK5ZleA&ust=1487086677043632");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
    .container{
                       max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
            }



