body {
    font-family: sans-serif;
   /*background-color: lightgrey;*/
    margin-top: 75px;
    background-image: url("https://overheadproductions.files.wordpress.com/2013/06/sequence-01-still016.jpg");
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
    
}
    .container{
                       max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
            }



